@import url("https://fonts.googleapis.com/css2?family=Red+Rose&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html {
  font-size: 16px;
}

img {
  max-width: 100%;
}

.nav {
  width: 86.1%;
  margin-inline: auto;
  margin-top: 2.7em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.links {
  width: 50.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.link {
  font-family: "Red Rose", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25em;
  color: #434343;
  text-decoration: none;
}

.link-nfts {
  font-family: "Red Rose", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25em;
  color: #434343;
  text-decoration: none;
}

.Connect {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25em;
  color: #ffffff;
  padding: 0.8em 1.6em;
  border: none;
}

.links2{
  display: none;
}

@media(max-width: 981px){
  .links{
    display: none;
  }


  .links2{
    padding-block: 2em;
    display: block;
    width: 86.1%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

}

@media(max-width: 496px){
  .Connect{
    font-size: 0.6rem;
    line-height: 1.25em;
  }

  .link{
    font-size: 0.7rem;
    line-height: 1.25em;
  }

  .link-nfts{
    font-size: 0.7rem;
    line-height: 1.25em;
  }

  .logo{
    transform: scale(0.5);
    margin-left: -20%;
  }

}
